.alinhar-div div {
	display: inline-block;
	width: 49%;
	margin-bottom: 30px;
}

.alinhar-div img {
	vertical-align: middle
}

.alinhar-div2 {
	text-align: right;
}

.alinhar-div3 div {
	display: inline-block;
	width: 45%;
	margin-bottom: 30px;
}

.alinhar-div3 img {
	vertical-align: middle
}

.artigo {
	margin-left: 20px;
	margin-right: 60px;
	width: 744px;
}

.autor, .final {
	color: #A0A0A0;
  	font-family: serif;
	font-size: 22px;
	font-style: italic;
	margin-bottom: 40px;
}

.cabecalho {
	margin-top: 15px;
	margin-left: 80px;
	margin-right: 80px;
}

.comentarios {
	margin-bottom: 100px;
}

.conteudo, .conteudo-info {
    font-family: serif;
	font-size: 25px;
	line-height:  38px;
	color: #282828;
	margin-bottom: 80px;
}

.conteudo-info {
    font-family: serif;
	font-size: 24px;
	line-height:  38px;
	color: #282828;
	margin-bottom: 20px;
}

.caixa-texto {
	margin-bottom: 80px;
}

.final a {
	color: #A0A0A0;
	font-size: 22px;
}

.foto {
	width: 90px;
	vertical-align: top;
}

.info {
	width: 500px;
	margin-left: 20px;
}

.introducao {
	color: #A0A0A0;
    font-family: serif;
    font-size: 18px;
	font-style: italic;
	text-align: center;
	padding-bottom: 110px;
}

.marcador {
	width: 60px;
	vertical-align: top;
}

.menu {
	text-align: center;
	font-family: fantasy;
	font-size: 13px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 50px;
	color: #5C5B5B;
}

.menu a:link {
	color: #5C5B5B;
	text-decoration: none;
}

.menu a:visited {
	color: #5C5B5B;
	text-decoration: none;
}

.menu a:hover {
	color: #009CFF;
	text-decoration: underline;
}

.link-autor:link {
	color: #A0A0A0;
	text-decoration: underline;
}

.link-autor:visited {
	color: #A0A0A0;
	text-decoration: underline;
}

.link-autor:hover {
	color: #A0A0A0;
	text-decoration: underline;
}

#link-titulo:link {
	color: #333333;
	text-decoration: none;
}

#link-titulo:visited {
	color: #333333;
	text-decoration: none;
}

#link-titulo:hover {
	color: #333333;
	text-decoration: underline;
}

.link-conteudo:link {
	color: #282828;
}

.link-conteudo:visited {
	color: #282828;
}

.link-conteudo:hover {
	color: #282828;
}

.link-rodape:link {
	color: #0099FF;
}

.link-rodape:visited {
	color: #0099FF;
}

.link-rodape:hover {
	color: #0099FF;
}

.perfil {
	border-top: 1px dotted #A0A0A0;
	padding-top: 25px;
}

.perfil div {
	display: inline-block;
}

.rodape {
    font-family: serif;
	font-size: 25px;
	text-align: center;
	line-height:  38px;
	color: #282828;
	margin-top: 20px;
	margin-bottom: 40px;
}

.rodape-info {
	color: #A0A0A0;
	font-size: 17px;
	font-style: italic;
}

.struct {
	margin: 0 auto;
	width: 888px;
}

.struct .marcador, .struct .artigo {
	display: inline-block;
}

.titulo {
	font-size: 47px;
	color: #333333;
	font-family: fantasy;
	font-weight: bold;
	margin-bottom: 10px;
}

.titulo2 {
	font-size: 40px;
	color: #333333;
	font-family: fantasy;
	font-weight: bold;
	margin-bottom: 10px;
}

.titulo-info {
	font-size: 28px;
	color: #009CFF;
	font-family: fantasy;
	font-weight: bold;
	margin-bottom: 22px;
}