<header class="header">
  <div class="logo">
    <a href="#">
    	<%= image_tag "logo.png", :title => "Group Buddies", :alt => "Group Buddies" %>
    </a>
  </div><div class="heart-small">
  	<%= image_tag "heart-small.png", :title => "Small Heart", :alt => "Small Heart" %>
  </div>
</header>