<header>
  <div class="logo">
    <%= link_to (image_tag "logo.png", alt:"Logo"), "https://groupbuddies.com" %>
  </div>
  <div class="heart">
    <%= link_to (image_tag "heart.png", alt:"Heart"), "#" %>
  </div>
</header>
