<header class="header">
  <div class="logo">
      <a href="http://groupbuddies.com">
        <%= image_tag("logo.png") %>
      </a>
  </div><div class="heart">
          <a href="#">
            <%= image_tag("heart-small.png") %>
          </a>
        </div>
</header>
