<div class="nav">
    <nav>
        <ul>
            <li>All</li>
            <li>Development</li>
            <li>Design</li>
            <li>Business</li>
            <li>Sys Admin</li>
            <li>Miscellanea</li>
            <li>Archive</li>
        </ul>
    </nav>
</div>
