<html>
	<head>
		<title>Aula 5</title>
	</head>
	<body>
		<div id="head">
		<header id="header">
			<div class="logo">
				<a href="http://groupbuddies.com"><img src="https://blog.groupbuddies.com/assets/logo-15c19284886b7a7c75b7cb69f0ae07e4.png" /></a>
			</div>
			<div class="menu">
				<a href="s" ><img src="https://blog.groupbuddies.com/assets/icons/heart-small-f50c3e44fa78b838c057170a94c5ec7c.png" ></a>
			</div>
		</header>
		</div>
		<div id="nav">
			<nav class="nav">
				<ul>
					<li>
						<a href="">All</a> /
					</li>		
					<li>
						<a href="">Development</a> /
					</li>
					<li>
						<a href="">Design</a> /
					</li>
					<li>
						<a href="">Business</a> / 
					</li>
					<li>
						<a href="">Sys Admin</a> /
					</li>
					<li>
						<a href="">Miscellanea</a> /
					</li>
					<li>
						<a href="">Archive</a>
					</li>
				</ul>
			</nav>
		</div>
		<section class="message">
			<h3 id="initial-message">Sharing ideas can change the world. It definitely changes us</h3>
		</section>
		<section>	
			<div class= "post-header">
				<div id="gb-logo"><img src="https://blog.groupbuddies.com/assets/icons/development-16fb1995786ab87fe8f3a675ad944f9e.png"/></div>
				<div id="title"><h1><a href=" ">Game On! RubyConf Portugal is back in 2015</h1></div>
			</div>	
			<div id="creation-info">
				<h3> Written by <a href=" ">Roberto</a> on 27, Feb 2015</h3>
			</div>
			<p>We're ready to announce that the 2nd edition of <a href=" ">RubyConf Portugal</a> is coming and it's going to be bigger, bolder and awesome-er!</p>
			<p>A long time passed since the day that we decided to create the <a href=" ">very first</a> RubyConf Portugal. Since then we worked tirelessly to make sure that, with the first edition, we'd build the foundations for a consistent yearly conference about Ruby in Portugal. By the reactions from speakers and attendees, it seems we've hit a home run:</p>			
			<p>Again this year, this is an event envisioned by <a href=" ">Group Buddies</a>, although everyone is invited to help us put it together. We want to join forces and unite the community, in order to create the best event we possibly can.</p>
			<h1>Where?</h1>
			<p>The conference will again take place in the beautiful city of Braga, Portugal's third biggest city, with an amazing history and a fantastic University. It was the European Youth Capital in 2012 and it is 30 mins away from Porto, the <a href=" ">coolest city of Europe</a>. You probably already heard of it, at least about the Port Wine and the <a href=" ">OPO airport</a> (which, by the way, was also considered one of the best in Europe).</p>
             <p>Braga can be described as an ancient, historic city, filled with young people, determined to make a difference. We have great tech companies here, with major international relevance, as well as young companies and startups.</p>	
            <h1>When?</h1>
            <p>This year it will happen on September 13 to 15.</p>
            <h1>CFP, Tickets, and more...</h1>
            <p>We will soon be launching the Call For Proposals and we will start selling tickets next month. Sponsors and partners are welcome, so we'd love if you could help us spread the word. We will have a team of voluntaries which you can apply for, by emailing us at <a href="mailto:rubyconfpt@groupbuddies.com">rubyconfpt@groupbuddies.com</a>.</p>
             <p>We are aware of the challenge that it represents to top last year's edition. Creating such an ambitious conference is far from being an easy task, but we're confident that the portuguese ruby community will again embrace this event as a way to unite itself and put Portugal on the map, not only amongst ruby conferences, but also amongst the OSS community in general.</p>
             <p>We hope to see you all this fall in Braga.</p>
		</section>
		<section class="comment">
			<aside class="comment-link">
				<a href="">Comment this post</a>
			</aside>
			<div class="hire-us">Want to hire us? <a href="">Get in touch</a></div>
		</section>
		<section class="author">
			<div class="picture">
				<img src="https://blog.groupbuddies.com/assets/authors/roberto-machado-313485b8bfc3bef5b52c0946a9e5e6e3.png">
			</div>
			<div class="author-info">
				<h1 class="author-name">About Roberto Machado</h1>
				<p class="author-bio">Founded Group Buddies in 2011. Lean Startup Minho founder. Minho.rb founder. </p>
				<aside class="read-more-author">Read more from <a href="">Roberto</a> or follow him on <a></a><a href="https://twitter.com/rmdgb">Twitter</a>
				</aside>
			</div>
		</section>
		<div class="read-more-post">
			<a href="">Want to read more? Check all of our posts here</a>
		</div>
		<footer class="footer">This is our blog, designed to share our thoughts about the job we love.</footer>
		<div id="nav">
			<nav class="nav">
				<ul>
					<li>
						<a href="">All</a> /
					</li>			
					<li>
						<a href="">Development</a> /
					</li>
					<li>
						<a href="">Design</a> /
					</li>
					<li>
						<a href="">Business</a> / 
					</li>
					<li>
						<a href="">Sys Admin</a> /
					</li>
					<li>
						<a href="">Miscellanea</a> /
					</li>
					<li>
						<a href="">Archive</a>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>
