<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css.css">

		<title> Group Buddies </title>
		<h2>
			<img id="logo" src ="logotipo.png"></img> 
			<img id="imagem" src ="imagem.png"></img> 
		</h2>


	
	</head>
	
	<body>
		<div class="topButtons">
			
			<ul>
				
				<li>
					<a href="/">All</a>
				</li>
				<li>
					<a href="/development">Development</a>
				</li>
				<li>
					<a href="/design">Design</a>
				</li>
				<li>
					<a href="/design">Design</a>
				</li>
				<li>
					<a href="/sys_admin">Sys Admin</a>
				</li>
				<li>
					<a href="/miscellanea">Miscellanea</a>
				</li>
				<li>
					<a href="/archive">Archive</a>
				</li>
			</ul>
		</div>

		<section class="slogan">
			<h1>Sharing ideas can change the world. It definitely changes us</h1>
		</section>	

		<article class="article">
			<div class="icon-post">
				<a href="/archive">
					<img src = "icon-post.png">
				</a>	
			</div>
		
			<header class="header-post">
				<h1 class="title-post">
					<a href="/post">Game On! RubyConf Portugal is back in 2015</a>
				</h1>

				<h3 class="author-post">
					Written by
					<a href=/"author/Roberto-Machado">Roberto</a>
					on 27, Fev 2015
				<h3>
			</header>

			<div class="body-post">
				<p>We're ready to announce that the 2nd edition of 
					<a href="http://rubyconf.pt/">RubyConf Portugal</a>
					is coming and it's going to be bigger, bolder and awesome-er!	
				</p>

				<p>A long time passed since the day that we decided to create the
					<a href="https://blog.groupbuddies.com/posts/31-brace-yourselves-rubyconf-portugal-is-coming">very first</a>
					RubyConf Portugal. Since then we worked tirelessly to make sure that, with the first edition, we'd build the foundations for a consistent yearly conference about Ruby in Portugal. By the reactions from speakers and attendees, it seems we've hit a home run:
				</p>	


		</article>	
		
	</body>	
</html>