<h1>Hello, Rails!</h1>
<%=@posts.count%>




<article>
			<div class="postIcon">
				<img src="https://blog.groupbuddies.com/assets/icons/development-16fb1995786ab87fe8f3a675ad944f9e.png">
			</div>
			<div class="postBody">
				<h1 class="postTitle">Game On! RubyConf Portugal is back in 2015</h1>
				<p class="postDetails">Written by Roberto on 27, Feb 2015</p>
				</br>
				<p class="postText">We're ready to announce that the 2nd edition of RubyConf Portugal is coming and it's going to be bigger, bolder and awesome-er!

	A long time passed since the day that we decided to create the very first RubyConf Portugal. Since then we worked tirelessly to make sure that, with the first edition, we'd build the foundations for a consistent yearly conference about Ruby in Portugal. By the reactions from speakers and attendees, it seems we've hit a home run:
				</p>
				<br>
				<p>Commet this post</p>
				<p>Want to hire us</p>
				<hr>
				<div class="postAuthor"></div>
					<div class="authorPhoto"</div>
						<img src="https://blog.groupbuddies.com/assets/authors/roberto-machado-313485b8bfc3bef5b52c0946a9e5e6e3.png">
					</div>
					<div class="authorDetails">
						<p class="authorTitle">About Roberto Machado</p>
						<br>
						<p class="authorPresentation">Founded Group Buddies in 2011. Lean Startup Minho founder. Minho.rb founder.</p>
					</div>
				</div>
			</div>
		</article>
