<!DOCTYPE html>
<html>
<head>
  <title>GBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="logo">
			<img src="https://blog.groupbuddies.com/assets/logo-15c19284886b7a7c75b7cb69f0ae07e4.png">
		</div>
		<div class="linkSite">
			<img src="https://blog.groupbuddies.com/assets/icons/heart-small-f50c3e44fa78b838c057170a94c5ec7c.png">
		</div>
	</header>
	<nav>
		
	</nav>
	<aside>
		<p class="phrase">Sharing ideas can change the world. It definitely changes us</p>
	</aside>
	<main>
		
		<%= yield %>
	</main>


</body>
</html>
