<!DOCTYPE html>
<html>
<head>
  <title>Group Buddies Blog</title>
  <%= stylesheet_link_tag    'filipa', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

	<%= yield%>
	
</body>
</html>
